@import "styles/utils";

.selectContainer {
  position: relative;
  display: flex;
  @include body3;
  color: #F2F4FE;
  transition: color 0.3s;
  cursor: pointer;

  &.open {
    color: rgba(242, 244, 254, 0.75);

    .selectWrapper .arrowDownIcon {
      transform: rotateZ(-180deg);
    }

    &.normal .selectWrapper .arrowDownIcon {
      transform: translateY(-50%) rotateZ(-180deg);
    }

    .select {
      transform: translateY(calc(100% + 16px)) scaleY(1);
      opacity: 1;
    }
  }

  &.normal {
    @include body3;
    font-weight: normal;
    color: #3A4374;
    background: #F7F8FD;
    border-radius: 5px;
    padding: 13px 24px;

    .selectWrapper {
      position: relative;
      width: 100%;

      .arrowDownIcon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: transform 0.3s;

        path {
          stroke: #4661E6;
        }
      }
    }
  }

  .label {
    font-weight: normal;
  }

  .selectWrapper {
    .arrowDownIcon {
      margin-left: 8px;
      transition: transform 0.3s;

      path {
        stroke: #FFFFFF;
      }
    }
  }

  .select {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    list-style: none;
    min-width: 255px;
    background: #FFFFFF;
    font-weight: normal;
    color: #647196;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
    border-radius: 10px;
    transform: translateY(calc(100% + 16px)) scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1;

    .option {
      position: relative;
      @include body1;
      padding: 12px 24px;
      border-bottom: 1px solid rgba(58, 67, 116, 0.15);

      &:last-child {
        border-bottom: none;
      }

      &.selected::after {
        position: absolute;
        top: 50%;
        right: 24px;
        content: url("/icons/icon-check.svg");
        transform: translateY(-50%);
      }
    }
  }
}
