@import "styles/utils";

.button {
  @include body3;
  font-weight: bold;
  color: #F2F4FE;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 10px;
  padding: 10.5px 16px;
  cursor: pointer;

  @include media(">desktop") {
    transition: background 0.3s;
  }

  .icon {
    margin-right: 16px;
  }

  @mixin buttonBackground($default, $hover) {
    background: $default;

    @include media(">desktop") {
      &:hover {
        background: $hover;
      }
    }
  }

  &.primary {
    @include buttonBackground(#AD1FEA, #C75AF6);
  }

  &.secondary {
    @include buttonBackground(#3A4374, #656EA3);
  }

  &.info {
    @include buttonBackground(#4661E6, #7C91F9);
  }

  &.danger {
    @include buttonBackground(#D73737, #E98888);
  }

  &.link {
    background: transparent;
    padding: 0;
    color: inherit;

    @include media(">desktop") {
      &:hover .children {
        text-decoration: underline;
      }
    }
  }
}
