@import "styles/utils";

.button {
  @include body3;
  font-weight: bold;
  color: #F2F4FE;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 10px;
  padding: 10.5px 16px;
  cursor: pointer;

  @include media(">desktop") {
    transition: background 0.3s;
  }

  .icon {
    margin-right: 16px;
  }

  &.primary {
    background: #AD1FEA;

    @include media(">desktop") {
      &:hover {
        background: #C75AF6;
      }
    }
  }

  &.link {
    background: transparent;
    padding: 0;
    color: inherit;

    @include media(">desktop") {
      &:hover .children {
        text-decoration: underline;
      }
    }
  }
}
